.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background: greenyellow;
    border: #39AC39 1px solid;
    padding: 1rem;
}

.pokemon-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.card p {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    border-top: #39AC39 1px solid;
    padding-top: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.game-over {
    background-color: #39AC39;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.game-over button {
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
}