body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #C5EE7B;
  color: #333;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:#C5EE7B;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: C5EE7B;
  border: #628b04 1rem solid;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  background: rgb(208, 106, 23);
  border: #628b04 1px solid;
  margin: 0.5rem;
}

.score {
  padding: 1em;
  background-color:burlywood;
  border: #628b04 1px solid;
}

.instructions {
  color: #888;
}

h1 {
  font-size: 3em;
  /* line-height: 1.1; */
  align-self: center;
  margin: 0;
  color: black;
}