#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  background-color: aquamarine;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  background: rgb(208, 106, 23);
}

.score {
  padding: 1em;
  background-color:burlywood
}

.instructions {
  color: #888;
}

h1 {
  background-color: #888;
  font-size: 3em;
  /* line-height: 1.1; */
  align-self: center;
  margin: 0;
}